<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <a href="http://localhost:8080">Back</a>
    <div class="sendMessage">
       <form method="post" action="/chats">
        <input type="text" placeholder="your name" name="from"><br>
        <input type="text" placeholder="sender name" name="to"><br>
        <textarea name="message"  cols="30" rows="10" placeholder="enter message"></textarea>
        <button>submit</button>
       </form>
    </div>
</body>
</html>